[mysqld]
!includedir /etc/mysql/conf.d/
user                              = mysql
bind-address                      = 0.0.0.0
wsrep_provider                    = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method                  = rsync
default_storage_engine            = InnoDB
binlog_format                     = ROW
log_bin                           = mysql-bin
innodb_autoinc_lock_mode          = 2
innodb_doublewrite                = 1
innodb_flush_log_at_trx_commit    = 0
innodb_locks_unsafe_for_binlog    = 1
query_cache_size                  = 0
query_cache_type                  = 0
max_connections                   = {{max_connections}}
